.vis-panel .vis-shadow {
    box-shadow: 0 0 10px 5px #889097 !important;
}

.workFlowDetailTable
{
    height: Auto;
    margin-bottom: 10px;

    background-color: white;
}

.warningBox::before,
.warningBox::after
{
    position: absolute;
    top: 0;
    right: 0;

    content: '';

    border-style: solid;
    border-color: transparent;
}

.warningBox::before
{
    border-width: .7em;
    border-top-color: #ccc;
    border-right-color: #ccc;
}

.warningBox::after
{
    border-width: .7em;
    border-top-color: red;
    border-right-color: red;
}

.text-black
{
    color: #000;
}

.text-white
{
    color: #fff;
}

.text-bold
{
    font-weight: bolder;
}

.status-danger
{
    color: #000;
    background: #ff5454;
}

.status-success
{
    color: #000;
    background: #79c447;
}

.status-warning
{
    color: #000;
    background: #f8cb00;
}


.HelpViewer h1
{
    color: #587695 !important;
}

.HelpViewer h2
{
    color: #587695 !important;
}

.fc-day-grid-event
{
    margin: 0 0 0 !important;
    padding: 0 1px;
}

.fc-event
{
    font-size: .85em;
    font-weight: normal;
    line-height: 1.3;

    position: relative;

    display: block;

    border: 0 solid #3a87ad !important;
    border-radius: 0 !important;
    background-color: #3a87ad;
}

.rusadaScheduler table th
{
    text-transform: uppercase;

    color: #000;
    background: white;
}

.tableRouting:hover
{
    cursor: pointer;
}


.cke_source
{
    font-family: 'Lucida Console' !important;

    white-space: pre !important;

    color: black !important;
    background-color: #fff !important;
}

.readonlycustom
{
    cursor: default !important;
    pointer-events: none !important;
}

textarea.readonlycustom {
  cursor: default !important;
  pointer-events:auto !important;
}

tbody > tr.selected
{
    background-color: #b0bed9 !important;
}

.panel-actions:hover
{
    opacity: 1 !important;
}

.mm-panel.mm-hassearch.mm-hasnavbar .mm-search
{
    top: 40px;

    padding-right: 40px !important;
}

.query-builder .rules-group-container
{
    padding: 10px 10px 6px;

    border: 1px solid #dcc896;
    background: whitesmoke !important;
}

.charms-menu-vertical
{
    overflow: hidden;

    border-radius: 4px;
}

.charms-menu-vertical > ul
{
    list-style-type: none;

    -webkit-padding-start: 0;
}

.charms-menu-vertical > ul > li
{
    display: block;

    padding-bottom: 10px;
}

.charms-menu-vertical > ul > li > .charmsbar-menuItem
{
    width: 50px;

    cursor: pointer;

    color: #bcbfc1;
}

.charm-icon-badge
{
    font-size: 10px;

    padding: 3px 4px 1px 5px;

    background-color: #286090;
}

.nopadding
{
    padding: 0 !important;
}

.charms-menu-horizontal
{
    overflow: hidden;

    width: 500px;

    border-radius: 4px;
}

.charms-menu-horizontal > ul
{
    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-padding-start: 0;
}

.charms-menu-horizontal > ul > li
{
    display: inline-block;

    height: 50px;
    padding-bottom: 10px;

    border-bottom: none;
}

.charms-menu-horizontal > ul > li > .charmsbar-menuItem
{
    display: inline-block;

    width: 50px;

    cursor: pointer;

    color: #bcbfc1;
}

.charms-icon-stack
{
    line-height: 2em;

    position: relative;

    display: inline-block;

    width: 2em;
    height: 2em;

    vertical-align: middle;
}

.charms-icon-stack-1x,
.charms-icon-stack-2x,
.charms-icon-stack-3x
{
    position: absolute;
    left: 0;

    width: 100%;

    text-align: center;
}

.charms-icon-stack-1x
{
    line-height: inherit;
}

.charms-icon-stack-2x
{
    font-size: 1.5em;
}

.charms-icon-stack-3x
{
    font-size: 2em;
}

#attachmentThumbNail
{
    display: inline-block;

    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

.panel-imitation
{
    margin: -10px 5px 0 5px;

    border-radius: 0;
}

.charmsListView > #rusadaListing > #accordion
{
    border: none;
    background-color: transparent;
}

.charmsListView > #rusadaListing > #accordion > .panel > .panel-heading
{
    padding: 3px 15px 3px 15px;
}

#file-input
{
    display: none;
    visibility: hidden;
}

.charms
{
    color: #bcbfc1;
    background: #00273b;
}

/* Slideout Styles
========================================================================== */
#charmsbar.slideout-menu
{
    left: auto;
}

.navbar-brand > img
{
    display: inline !important;
}

.slideout-menu
{
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow-y: hidden;

    width: 340px;

    background: #eee;

    -webkit-overflow-scrolling: touch;
}

.slideout-panel
{
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel
{
    overflow: hidden;
}

.slideout-open .slideout-menu
{
    display: block;
}

.navbar-brand
{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;

    width: 100% !important;
    margin: auto !important;

    text-align: center !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody
{
    border-bottom: 0 solid #111 !important;
}

.well
{
    padding: 5px !important;
}

.nav > li.nav-profile
{
    padding: 20px;

    color: #fff;
    background: #00273b;
}

.nav > li.nav-profile a
{
    padding: 0;
}

.nav > li.nav-profile .image
{
    float: left;
    overflow: hidden;

    width: 45px;
    height: 45px;
    margin-top: 0;
    margin-right: -30px;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.nav > li.nav-profile .image img
{
    max-width: 100%;
    max-height: 100%;
}

.nav > li.nav-profile .info
{
    font-size: 16px;
}

.nav > li.nav-profile .info small
{
    display: block;

    color: #889097;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td
{
    padding: 10px;
}

table.dataTable thead th,
table.dataTable tfoot th
{
    font-weight: normal !important;
}

.profile-container
{
    padding: 20px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: #fff;
}

.profile-container:before,
.profile-container:after
{
    display: table;
    clear: both;

    content: '';
}

.k-timeline.k-grid.k-widget
{
    overflow-y: hidden !important;
}

.EditMode
{
    display: none;
}

.profileImage
{
    display: block;

    width: 180px;
    height: 200px;

    border: 6px solid lightgrey;
}

.profilePicture
{
    position: relative;
}

.info
{
    position: absolute;
    z-index: 1;
    bottom: 20%;

    display: none;

    width: 180px;
    padding: 4px;

    cursor: pointer;
    text-align: center;

    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, .6) 100%);
}

.profilePicture:hover .info
{
    display: block;
}

.profile-left-HR
{
    float: left;

    width: 175px;
}

.profile-image-HR
{
    font-size: 72px;

    overflow: hidden;

    height: 175px;
    margin-bottom: 10px;

    text-align: center;

    border: 2px solid #e2e7eb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.profile-left
{
    float: left;

    width: 275px;
}

.profile-right
{
    margin-left: 315px;
    padding-right: 20px;
}

.profile-image
{
    font-size: 72px;
    line-height: 175px;

    overflow: hidden;

    height: 175px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

    text-align: center;

    border: 2px solid #e2e7eb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.profile-image img
{
    display: block;

    max-width: 100%;
}

.profile-highlight
{
    padding: 12px 15px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: #eba74e;
}

.profile-highlight h4
{
    font-size: 12px;
    font-weight: bold;

    margin: 0 0 7px;
}

.table.table-profile > thead > tr > th
{
    border-bottom: none !important;
}

.table.table-profile > thead > tr > th h4
{
    font-size: 20px;

    margin-top: 0;
}

.table.table-profile > thead > tr > th h4 small
{
    font-size: 12px;
    font-weight: normal;

    display: block;

    margin-top: 5px;
}

.table.table-profile > thead > tr > th,
.table.table-profile > tbody > tr > td
{
    padding-top: 7px;
    padding-bottom: 7px;

    color: #242a30;
    border: none;
}

.table.table-profile > tbody > tr > td.field
{
    font-weight: 600;

    width: 120px;

    text-align: right;

    color: #777;
}

.table.table-profile > tbody > tr.highlight > td
{
    border-top: 1px solid #e2e7eb;
    border-bottom: 1px solid #e2e7eb;
}

.table.table-profile > tbody > tr.divider > td
{
    height: 10px;
    padding: 0 !important;
}

.profile-section + .profile-section
{
    margin-top: 20px;
    padding-top: 20px;

    border-top: 1px solid #e2e7eb;
}

.profile-section:before,
.profile-section:after
{
    display: table;
    clear: both;

    content: '';
}

.profile-section .title
{
    font-size: 20px;

    margin: 0 0 15px;
}

.profile-section .title small
{
    font-weight: normal;
}

.mm-listview > li:Hover
{
    color: #eba74e !important;
}

.mm-btn:hover
{
    color: #eba74e !important;
}

.mm-search
{
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before
{
    border-color: whitesmoke !important;
}

.mm-prev:before,
.mm-next:after,
.mm-arrow:after
{
    border-color: whitesmoke !important;
}

.mm-prev:hover,
.mm-next:hover
{
    border-color: #eba74e !important;
    border-left-width: 4px;
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span
{
    background: #eba74e !important;
}

.mm-title
{
    font-size: 1.2em !important;

    color: whitesmoke !important;
}

.mm-menu .mm-search input
{
    color: rgba(0, 0, 0, .7) !important;
    background: whitesmoke !important;
}

.mm-search input
{
    border-radius: 5px !important;
}

.checkbox-custom,
.radio-custom
{
    position: absolute;

    opacity: 0;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label
{
    display: inline-block;

    cursor: pointer;
    vertical-align: middle;
}

.checkbox-custom-label,
.radio-custom-label
{
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before,
.radio-custom + .radio-custom-label:before
{
    font-size: large;
    line-height: 1.4;

    display: inline-block;

    width: 25px;
    height: 25px;
    margin-right: 10px;

    content: '';
    text-align: center;
    vertical-align: middle;

    border: 1px solid #eba74e;
    border-radius: 3px;
    background: #fff;
}

.checkbox-custom:checked + .checkbox-custom-label:before
{
    font-family: 'FontAwesome';

    content: '\f00c';

    color: #587695;
}

.radio-custom + .radio-custom-label:before
{
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before
{
    font-family: 'FontAwesome';

    content: '\f00c';

    color: #587695;
}

.checkbox-custom:focus + .checkbox-custom-label,
.radio-custom:focus + .radio-custom-label
{
    outline: 1px solid #ddd;
    /* focus style */
}

.ui-pnotify
{
    position: absolute;
    z-index: 9999;
    top: 100px;
    right: 25px;

    height: auto;
}

.selectionItem
{
    color: white !important;
    background-color: #587695 !important;
}

.width100
{
    width: 100%;
}

.routing
{
    cursor: pointer;
}

.RusadaLabel
{
    font-size: 12px;
    font-weight: bold;

    color: #587695;
}

.RusadaDataLabel
{
    font-size: 14px;
}

.RusadaDataLabelx2
{
    font-size: 18px;
}

.help
{
    width: 98%;
    height: 100%;
}

.help #filterPanel
{
    height: 100%;
}

.help .panel-info
{
    height: 100%;
}

.help .panel-body
{
    height: 100%;
}

.help h1
{
    margin: 0 0 20px 0;

    color: #587695;
}

.help li
{
    margin-bottom: 5px;
}

.small-box
{
    position: relative;

    display: block;

    border-radius: 5px;
    box-shadow: rgb(204, 204, 204) -5px 0 30px;
}

.small-box > .inner
{
    min-height: 110px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    color: white;
}

.small-box > .small-box-footer
{
    position: relative;
    z-index: 2;

    display: block;

    padding: 0 0 3px 10px;

    text-align: left;
    text-decoration: none;

    color: #fff;
    color: rgba(255, 255, 255, .8);
    background: rgba(0, 0, 0, .1);
}

.small-box > .small-box-footer:hover
{
    color: #fff;
    background: rgba(0, 0, 0, .15);
}

.small-box h3
{
    font-size: 38px;
    font-weight: bold;

    margin: 0 0 10px 0;
    padding: 0;

    white-space: nowrap;
}

.small-box p
{
    font-size: 15px;
}

.small-box p > small
{
    font-size: 13px;

    display: block;

    margin-top: 5px;

    color: #f9f9f9;
}

.small-box h3,
.small-box p
{
    z-index: 5;
}

.small-box .icon
{
    font-size: 72px;

    position: absolute;
    z-index: 0;
    top: 10px;
    right: 10px;

    -webkit-transition: all .3s linear;
         -o-transition: all .3s linear;
            transition: all .3s linear;

    color: rgba(0, 0, 0, .15);
}



@media (max-width: 767px)
{
    .small-box
    {
        text-align: center;
    }

    .small-box .icon
    {
        display: none;
    }

    .small-box p
    {
        font-size: 12px;
    }
}

select.form-control.multisass
{
       -moz-appearance: none;
    -webkit-appearance: none;
            appearance: none;
}

.rusadainputlabel
{
    font-size: larger;
    font-weight: bolder;

    padding: 1px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: black;
    border: 0 inset;
    outline: none;
    background-color: inherit;

    -ouser-select: none;
}

.rusadainputlabel .focus
{
    outline: none;
}

.toggle,
.toggle-on,
.toggle-off
{
    border-radius: 15px;
}

.toggle .toggle-handle
{
    border-radius: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
    color: white !important;
    border: 1px solid #979797;
    background: #587695;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    line-height: 23px;

    position: absolute;
    top: 5px;
    left: 3px;

    display: block;

    box-sizing: content-box;
    width: 23px;
    height: 23px;

    content: '+';
    text-indent: 7px;

    color: white;
    border: 0 solid white;
    border-radius: 16px;
    background-color: #587695;
    box-shadow: 0 0 1px #587695;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before
{
    content: '-';

    background-color: #587695;
}

.clickHover:hover
{
    cursor: pointer;
}

.panel-rusada
{
    border-color: #086586;
}

.panel-rusada > .panel-heading
{
    color: white;
    border-color: #086586;
    background-color: #587695;
}

.panel-rusada > .panel-heading + .panel-collapse > .panel-body
{
    border-top-color: #086586;
}

.panel-rusada > .panel-heading .badge
{
    color: #f5f5f5;
    background-color: #333;
}

.panel-rusada > .panel-footer + .panel-collapse > .panel-body
{
    border-bottom-color: #086586;
}

.panel-rusada > a:hover,
a a:focus
{
    color: white;
}

@media (min-width: 768px)
{
    .nav-tabs.nav-justified > li
    {
        float: none;
    }
}

@media (max-width: 768px)
{
    .nav-tabs.nav-justified > li
    {
        float: left;
    }
}

.graphpaper
{
    background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);
    background-size: 15px 15px;
}

.textStrong
{
    font-weight: bold !important;
}

.textNoWrap
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.pace
{
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
            pointer-events: none;

    -webkit-pointer-events: none;
}

.pace-inactive
{
    display: none;
}

.pace .pace-progress
{
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;

    width: 100%;
    height: 8px;

    background: #29d;
}

.pace .pace-progress-inner
{
    position: absolute;
    right: 0;

    display: block;

    width: 100px;
    height: 100%;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
       -moz-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
         -o-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);

    opacity: 1.0;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}

.pace .pace-activity
{
    position: fixed;
    z-index: 2000;
    right: 15px;
    bottom: 15px;

    display: block;

    width: 14px;
    height: 14px;

    -webkit-animation: pace-spinner 400ms linear infinite;
       -moz-animation: pace-spinner 400ms linear infinite;
        -ms-animation: pace-spinner 400ms linear infinite;
         -o-animation: pace-spinner 400ms linear infinite;
            animation: pace-spinner 400ms linear infinite;

    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
}

@-webkit-keyframes pace-spinner
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-moz-keyframes pace-spinner
{
    0%
    {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }

    100%
    {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}

@-o-keyframes pace-spinner
{
    0%
    {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }

    100%
    {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}

@-ms-keyframes pace-spinner
{
    0%
    {
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    }

    100%
    {
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

@keyframes pace-spinner
{
    0%
    {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.alertGantt
{
    border-right: 5px solid red !important;
    border-left: 5px solid red !important;
}

.searchGridreveal.no-footer
{
    border: none;
}

.searchGridreveal thead
{
    display: none;
}

.searchGridPagereveal label
{
    display: none;
}

.searchGridreveal tr:hover
{
    cursor: pointer;

    color: white;
    background-color: #587695;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
{
    opacity: 1;
    border-radius: 3px;
    background-color: #fff;
}

.form-control.changed
{
    opacity: 1;
    border-radius: 3px;
    /*background-color: $rusada-orange !important;*/
    background-color: #f1cfa2 !important;
}

.btn-file
{
    position: relative;

    overflow: hidden;
}

.btn-file input[type=file]
{
    font-size: 100px;

    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    min-width: 100%;
    min-height: 100%;

    cursor: inherit;
    text-align: right;

    opacity: 0;
    outline: none;

    filter: alpha(opacity=0);
}

.searchGridreveal
{
    position: absolute;
    z-index: 5;

    width: 98%;
    margin-top: 2px;

    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    background: white;
}

.buttonHover:hover
{
    cursor: pointer;
}

.validationMessage
{
    color: #f00;
}

.form-control:required
{
    border: 2px solid #f00;
}

.rusadarequired:before
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    z-index: 3;

    width: 0;

    content: '';

    border-top: 13px solid red;
    border-right: 13px solid white;
}

/*.form-control:invalid {
    border: 2px solid #f00;
}*/

.form-control:invalid:focus
{
    border: 1px solid #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.ui-datepicker
{
    display: none;

    width: 240px;
    margin-top: 4px;
    padding: 10px;

    border: 1px solid #66afe9;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(102, 175, 233, .6);
}

.ui-datepicker a,
.ui-datepicker a:hover
{
    text-decoration: none;
}

.context-close a
{
    margin-left: 18px;

    color: #fff;
}

.context-close
{
    font-size: 21px;

    position: inherit;

    width: 32px;
    height: 32px;
    margin-top: 38px;
    margin-left: -35px;
    padding-top: 5px;
    padding-left: 8px;

    cursor: pointer;

    color: #fff;
    background: #587695;
    -webkit-box-shadow: -7px 0 30px #aaa;
       -moz-box-shadow: -7px 0 30px #aaa;
            box-shadow: -7px 0 30px #aaa;
}

.k-multiselect .k-button
{
    color: black;
    border-color: #086586;
    background-color: white;
}

.k-multiselect .k-button:hover
{
    color: white;
    border-color: #086586;
    background-color: #eba74e;
}

.ui-datepicker a:hover,
.ui-datepicker td:hover a
{
    -webkit-transition: color .1s ease-in-out;
       -moz-transition: color .1s ease-in-out;
         -o-transition: color .1s ease-in-out;
            transition: color .1s ease-in-out;

    color: #2a6496;
}

.ui-datepicker .ui-datepicker-header
{
    margin-bottom: 4px;

    text-align: center;
}

.ui-datepicker
{
    z-index: 50 !important;
}

.ui-datepicker .ui-datepicker-title
{
    font-weight: 700;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next
{
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    width: 30px;
    height: 20px;
    margin-top: 2px;

    cursor: default;

    -webkit-font-smoothing: antialiased;
}

.ui-datepicker .ui-datepicker-prev
{
    float: left;

    text-align: left;
}

.ui-datepicker .ui-datepicker-next
{
    float: right;

    text-align: right;
}

.ui-datepicker .ui-datepicker-prev:before
{
    content: '\e079';
}

.ui-datepicker .ui-datepicker-next:before
{
    content: '\e080';
}

.ui-datepicker .ui-icon
{
    display: none;
}

.ui-datepicker .ui-datepicker-calendar
{
    width: 100%;

    table-layout: fixed;
}

.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td
{
    padding: 4px 0;

    text-align: center;
}

.ui-datepicker .ui-datepicker-calendar td
{
    -webkit-transition: background-color .1s ease-in-out, color .1s ease-in-out;
       -moz-transition: background-color .1s ease-in-out, color .1s ease-in-out;
         -o-transition: background-color .1s ease-in-out, color .1s ease-in-out;
            transition: background-color .1s ease-in-out, color .1s ease-in-out;

    border-radius: 4px;
}

.ui-datepicker .ui-datepicker-calendar td:hover
{
    cursor: pointer;

    background-color: #eee;
}

.ui-datepicker .ui-datepicker-calendar td a
{
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-current-day
{
    background-color: #4289cc;
}

.ui-datepicker .ui-datepicker-current-day a
{
    color: #fff;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover
{
    cursor: default;

    background-color: #fff;
}


.k-autocomplete.k-state-default,
.k-state-hover,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-multiselect.k-header
{
    border: solid 1px #eba74e;
}

.panel-info
{
    border-color: #587695;
}

@media (max-width: 767px)
{
    .nav-tabs > li
    {
        float: none;

        border: 1px solid #ddd;
    }

    .nav-tabs > li.active > a
    {
        border: none;
    }

    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus
    {
        border: none;
        background: none;
    }
}

.fa-percent:before
{
    font-family: 'Open Sans';
    font-weight: 900;

    content: '%';
}


/* lighten up the text*/
th
{
    font-weight: 400;
}

.rusadauppercase
{
    text-transform: uppercase !important;
}

.k-overflow-anchor.k-button
{
    z-index: 98;

    color: #555;
    border: none;
    background-color: #f8f8f8;
}

#toolBarButtons_overflow
{
    float: none !important;
}

/*style for toolbar buttins*/
.btn-toolbar
{
    font-size: 12px !important;

    margin: 2px;

    cursor: pointer !important;
    text-transform: capitalize !important;

    border-radius: 3px !important;
}

/*style for toolbar*/
.k-toolbar
{
    height: 42px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;

    text-transform: uppercase;

    color: #555;
    border-width: 0 0 0;
    border-radius: 5px;
    background: #f8f8f8;
}

/*style for toolbar*/
.rusada-toolbar-header
{
    font-size: 1.5em !important;

    padding-top: 2px;

    text-transform: uppercase;

    color: #555;
    border-width: 0 0 0;
    background: #f8f8f8;
}

.rusada-toolbar-subtext
{
    font-size: 1.2em !important;
    font-weight: 400;
    line-height: 24px;

    height: 30px;

    text-transform: capitalize;

    color: #8a8a8a;
    border-width: 0 0 0;
}

.page-error h1
{
    margin-top: 0;
}

/* line 11, ../../sass/partials/pages/_404.scss */
.page-error .title
{
    display: inline-block;

    text-align: center;
    vertical-align: middle;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

/* line 17, ../../sass/partials/pages/_404.scss */
.page-error .number
{
    font-size: 4em;

    display: inline-block;
    float: left;

    margin-right: 5px;

    text-align: right;
    vertical-align: middle;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

/* line 26, ../../sass/partials/pages/_404.scss */
.page-error .text
{
    font-size: 1.5em;
    line-height: 1.2;

    position: relative;
    top: 12px;

    display: inline-block;
    float: left;

    text-align: left;
    vertical-align: middle;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}

.breadcrumb.readonly li > a:hover,
.breadcrumb.readonly li > a:focus
{
    cursor: default;
    text-decoration: none;
}

.pattern-pagination li > a
{
    width: 40px;
    max-width: 40px;
    margin-bottom: 5px;
    margin-left: 0;

    text-align: center;
}

.roster-pattern
{
    list-style-type: none;
}

.roster-pattern li .roster-pattern-row
{
    margin-top: 10px;
    margin-right: -15px;
    margin-bottom: 5px;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid #979797;
}

.roster-pattern .row:hover
{
    background-color: #eee;
}

.btn-circle
{
    font-size: 12px;
    line-height: 1.428571429;

    width: 30px;
    height: 30px;
    padding: 6px 0;

    text-align: center;

    border-radius: 15px;
}

.btn-circle hover
{
    color: #086586;
}

@media screen and (max-width: 768px)
{
    /* line 26, ../../sass/partials/pages/_404.scss */
    .page-error .text
    {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px)
{
    /* line 41, ../../sass/partials/pages/_404.scss */
    .page-error .number,
    .page-error .text
    {
        display: block;
        float: none;

        width: 100%;

        text-align: center;
    }
}

@media screen and (max-width: 480px)
{
    /* line 41, ../../sass/partials/pages/_404.scss */
    .page-error .number,
    .page-error .text
    {
        font-size: 1.4em;
    }
}

/* line 55, ../../sass/partials/pages/_404.scss */
.page-error .searchbox
{
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px)
{
    /* line 55, ../../sass/partials/pages/_404.scss */
    .page-error .searchbox
    {
        width: 100%;
    }
    /* line 63, ../../sass/partials/pages/_404.scss */
    .page-error .searchbox input[type='search'],
    .page-error .searchbox .input-group,
    .page-error .searchbox .input-group-btn,
    .page-error .searchbox .btn
    {
        display: block;
        float: none;

        width: 100%;
    }
}

@media screen and (max-width: 768px)
{
    /* line 55, ../../sass/partials/pages/_404.scss */
    .page-error .searchbox
    {
        width: 80%;
    }
}

/* line 70, ../../sass/partials/_general.scss */
.wrapper
{
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}

/* full page such as 404, login, register */
/* line 80, ../../sass/partials/_general.scss */
.full-page-wrapper.wrapper
{
    height: 96%;
    min-height: 96%;
}

/* line 85, ../../sass/partials/_general.scss */
.full-page-wrapper .inner-page
{
    padding-top: 5%;
}

@media screen and (max-width: 768px)
{
    /* line 79, ../../sass/partials/_general.scss */
    .full-page-wrapper
    {
        position: inherit;

        margin-top: 0;
        padding-top: 5em;
    }
    /* line 95, ../../sass/partials/_general.scss */
    .full-page-wrapper .inner-page
    {
        position: relative;

        padding: 0 1em;
    }
}

@media screen and (max-width: 480px)
{
    /* line 79, ../../sass/partials/_general.scss */
    .full-page-wrapper
    {
        padding-top: 0;
    }
    /* line 104, ../../sass/partials/_general.scss */
    .full-page-wrapper .inner-page
    {
        padding: 5em 1em;
    }
}


.vtimeline
{
    position: relative;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.vtimeline:before
{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 20%;

    width: 5px;
    margin-left: -2.5px;

    content: '';

    background: #2d353c;
}

.vtimeline > li
{
    position: relative;

    min-height: 50px;
}

.vtimeline > li + li
{
    margin-top: 40px;
}

.vtimeline .vtimeline-time
{
    position: absolute;
    left: 0;

    width: 15%;
    padding-top: 7px;

    text-align: right;
}

.vtimeline .vtimeline-time .date,
.vtimeline .vtimeline-time .time
{
    display: block;
}

.vtimeline .vtimeline-time .date
{
    font-size: 14px;
    line-height: 18px;
}

.vtimeline .vtimeline-time .time
{
    font-size: 24px;
    line-height: 28px;

    color: #242a30;
}

.vtimeline .vtimeline-icon
{
    position: absolute;
    top: 5px;
    left: 15%;

    width: 10%;

    text-align: center;
}

.vtimeline .vtimeline-icon a
{
    font-size: 14px;
    line-height: 40px;

    display: inline-block;

    width: 50px;
    height: 50px;

    -webkit-transition: background .2s linear;
       -moz-transition: background .2s linear;
            transition: background .2s linear;
    text-decoration: none;

    color: #fff;
    border: 5px solid #2d353c;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background: #575d63;
}

.vtimeline .vtimeline-icon a:hover,
.vtimeline .vtimeline-icon a:focus
{
    background: #00acac;
}

.vtimeline .vtimeline-body
{
    position: relative;

    margin-right: 15%;
    margin-left: 25%;
    padding: 20px 30px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: #fff;
}

.vtimeline .vtimeline-body:before
{
    position: absolute;
    top: 20px;
    left: -20px;

    display: block;

    content: '';

    border: 10px solid transparent;
    border-right-color: #fff;
}

.vtimeline-header
{
    line-height: 30px;

    padding-bottom: 10px;

    border-bottom: 1px solid #e2e7eb;
}

.vtimeline-header .userimage
{
    float: left;
    overflow: hidden;

    width: 34px;
    height: 34px;
    margin: -2px 10px -2px 0;

    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.vtimeline-header .username
{
    font-size: 16px;
    font-weight: 600;
}

.vtimeline-header .username,
.vtimeline-header .username a
{
    color: #00acac;
}

.vtimeline img
{
    display: block;

    max-width: 100%;
}

.vtimeline-content
{
    font-size: 14px;
}

.vtimeline-header + .vtimeline-content,
.vtimeline-header + .vtimeline-footer,
.vtimeline-content + .vtimeline-footer
{
    margin-top: 20px;
}

.vtimeline-content:before,
.vtimeline-content:after
{
    display: table;
    clear: both;

    content: '';
}

.vtimeline-title
{
    margin-top: 0;
}

.vtimeline-footer
{
    margin: -20px -30px;
    padding: 20px 30px;

    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
    background: #e8ecf1;
}

.vtimeline-footer a:not(.btn)
{
    color: #575d63;
}

.vtimeline-footer a:not(.btn):hover,
.vtimeline-footer a:not(.btn):focus
{
    color: #2d353c;
}

.htimeline
{
    margin: 25px 0;
    padding: 0;

    list-style: none;

    border-top: 2px solid #428bca;
}

.htimeline__step
{
    position: relative;

    float: left;

    padding-top: 30px;
}


.htimeline__step_right
{
    position: relative;

    float: right;

    margin-top: -50px;
    padding-top: 30px;
}

.htimeline__step:first-of-type:before,
.htimeline__step:last-of-type:before
{
    position: absolute;
    top: -2px;
    left: 0;

    width: 50%;
    height: 100%;

    content: '';

    background: #fff;
}

.htimeline__step:last-of-type:before
{
    left: 50%;
}

.htimeline__step:hover .htimeline__step-label
{
    font-size: 12px;

    bottom: 100%;

    height: auto;
    padding: 5px 10px;

    -webkit-transform: rotate(0deg);

    opacity: 1;
    border-width: 1px;
}

.htimeline__step:hover .htimeline__step-label:before,
.htimeline__step:hover .htimeline__step-label:after
{
    display: block;
}

.htimeline__step-label
{
    font-size: 0;
    font-weight: normal;

    position: absolute;
    bottom: 0;
    left: 50%;

    width: 110px;
    height: 0;
    margin: 0 0 45px -55px;
    padding: 0;

    transition: bottom .1s ease-in-out, opacity .1s ease-in-out, -webkit-transform .1s ease-in-out;
    -webkit-transform: rotate(30deg);

    opacity: 0;
    border-width: 0;
    border-style: solid;
    border-color: #428bca;
    background: #fff;
}

.htimeline__step-label:before,
.htimeline__step-label:after
{
    position: absolute;
    top: 100%;
    left: 50%;

    display: none;

    width: 0;
    height: 0;

    content: '';
    pointer-events: none;

    border: solid transparent;
}

.htimeline__step-label:before
{
    margin-left: -8px;

    border-width: 8px;
    border-top-color: #428bca;
}

.htimeline__step-label:after
{
    margin-left: -6px;

    border-width: 6px;
    border-top-color: #fff;
}

.htimeline__step-content
{
    display: block;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.htimeline__step-title_left
{
    font-size: 14px;

    position: absolute;
    top: 0;
    top: -20px;
    left: 60px;

    display: block;

    width: 100%;
    padding: 30px 0 0;

    text-align: left;
}

.htimeline__step-title_right
{
    font-size: 14px;

    position: absolute;
    top: 0;
    top: -20px;
    right: 50px;

    display: block;

    width: 100%;
    padding: 30px 0 0;

    text-align: left;
}

.htimeline__step-marker_left
{
    font-weight: bold;
    font-style: normal;
    line-height: 38px;

    position: absolute;
    top: -25px;
    left: 20px;

    width: 50px;
    height: 50px;
    margin-left: -25px;

    text-align: center;

    color: #428bca;
    border: 4px solid #428bca;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 10px #fff;
}

.htimeline__step-marker_right
{
    font-weight: bold;
    font-style: normal;
    line-height: 38px;

    position: absolute;
    top: -20px;
    left: 40px;

    width: 50px;
    height: 50px;
    margin-left: -25px;

    text-align: center;

    color: #428bca;
    border: 4px solid #428bca;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 10px #fff;
}

.done .htimeline__step-marker
{
    color: #fff;
    background: #428bca;
}

.htimeline__step-radio
{
    display: none;
    /**
   * not needed for now,
   * because markers won't be clicked in horz version
   */
}

.htimeline--summary
{
    width: 200px;

    border-width: 2px;
}

.htimeline--summary .htimeline__step-label
{
    margin-bottom: 19px;
}

.htimeline--summary .htimeline__step-title
{
    font-size: 8px;
    font-weight: bold;

    padding: 10px 0 0;
}

.htimeline--summary .htimeline__step-marker
{
    top: -7px;

    width: 12px;
    height: 12px;
    margin-left: -6px;

    text-indent: -999em;

    border-width: 2px;
    box-shadow: 0 0 0 3px #fff;
}

fancy-grid-cell-no-overflow{
    position: absolute
}

